.hero-header {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  max-width: 900px;
}

.hero-title {
  margin: 0;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1;
color: white
}

.hero-subtitle {
  margin-top: 14px;
  font-size: clamp(.8rem, 1.5vw, 1rem);
  font-weight: 500;
  color: #D6E4FF;
  letter-spacing: 1px;
}